body{

    background: linear-gradient(90deg, rgb(220, 231, 67) 0%, rgb(23, 123, 218) 100%);
    margin-left: 5%;
    margin-right: 5%;
h{
    font-family: 'Black Ops One', system-ui;
    font-family: 'Poppins', sans-serif;

}
}
markthisimportant{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
    

}
p{
    font-family: 'Poppins', sans-serif;
}
button{
    background-image: linear-gradient(to right top, #0066ff, #00a1ff, #00c6eb, #00e087, #a8eb12);
}

.doclist
{
    margin-left: 45%;
    font-size: 17px;
}

.nav
{
    background-color: #a8eb12;
    padding: 5px;
    border-style: double;
    border-color:rgb(0, 0, 0);
}

img
{
    padding: 5px;
}

#icon-home-bmc
{
    background-color: white;
    margin-right: 25%;
}

#github-logo
{
    background-color: black;
}